.App {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-footer {
  padding-top: 50px;
  background-color: #38435a !important;
}

h2 {
  color: #38435a;
  text-align: center;
}

.footer-icons {
  font-size: 20px;
}

.gitlab-icon {
  color: orange;
  padding-left: 42px;
}

.facebook-icon {
  color: #3B5998;
  padding-left: 18px;
}

.instagram-icon {
  padding-left: 15px;
}

.twitter-icon {
  color: #1dcaff;
  padding-left: 37px;
}


#back-button {
  background-color: red;
}

button {
  position:relative;
}

.search-button {
  padding-top: 27px !important;
}

.location-row {

}

.location-prices-row {
  position:relative;
  top:100%;
  /*left:30%;*/
  width:50%;
}

.stars {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 54%;
  margin: -100px 0 0 -150px;
}

.location-name {
  text-align: center;
}

.location-image {
  position: absolute;
  width: 300px;
  z-index: 15;
  top: 25%;
  left: 60% !important;
  margin: -100px 0 0 -150px;
}

.header-text {
  position:relative;
  top:100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
